extends common/layout

block content
  main.main-container
    .main-container_heading
      p.main-heading How Dreamshare works?
    .main-container_slider
      .main-container_slider_1
        .info-slider
          .info-slider-button
            a.info-slider-button_I(href='#')  STEP 1
          .slider-heading Sed leo enim, condimentum
          .slider-info
            p
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
      .main-container_slider_2
        .info-slider-2
          .info-slider-button-2
            a.info-slider-button_I-2(href='#')  STEP 2
          .slider-heading-2 Morbi velit risus
          .slider-info-2
            p
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              | porttitor est.
      .main-container_slider_3
        .info-slider-3
          .info-slider-button-3
            a.info-slider-button_I-3(href='#')  STEP 3
          .slider-heading-3 Sed leo enim, condimentum
          .slider-info-3
            p
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
    .main-container_heading-2
      p.main-heading-2 Meet a partner for your best holiday
    .main-container-team
      .team-box-1
        .team-box-1_foto
        .team-box-1_icon
        .team-box-1_name
          p Bradley Hunter
        .team-box-1_text
          p Based in Chicago. I love playing tennis and loud music.
      .team-box-2
        .team-box-2_foto
        .team-box-2_icon
        .team-box-2_name
          p Marie Bennett
        .team-box-2_text
          p Currently living in Colorado. Lover of art, languages and travelling.
      .team-box-3
        .team-box-3_foto
        .team-box-3_icon
        .team-box-3_name
          p Diana Wells
        .team-box-3_text
          p
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .team-box-4
        .team-box-4_foto
        .team-box-4_icon
        .team-box-4_name
          p Christopher Pierce
        .team-box-4_text
          p Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .main-container-button-block
      a.main-container-button(href='#') See other partners
    .collage-heading
      p Discover holiday activity ideas
    .collage-container
      .collage-box-1
      .collage-box-2
      .collage-box-3
      .collage-box-4
      .collage-box-5
      .collage-box-6
      .collage-box-7
    .form-container
      .form-heading
        p Crate your holiday activity
      .form-block
        .form-block_text
          p Hi! What are your holiday interests?
        form.form-block_input
          input(title='text', placeholder='Enter your insterests')
        .form-block_button
          a.button(href='#') Search partners
