footer.footer-container
  hr.hr
  .footer-block
    .footer-block_box-1
      p DREAMSHARE
    .footer-block_box-2
      p.footer-block_box-2_1 Company
      ul.footer-block_box-2_2
        li About
        li Contact
        li Press
        li Blog
        li Terms and Privacy
        li Help
    .footer-block_box-3
      p Partners
    .footer-block_box-4
      p DESIGNED BY
      .image-designed-by
