header.header-container
  .h-backgraund
    .logo-block
      p.logo dreamshare
      .log-in-block
        a.log-in(href='#') Log in
        a.sign-up(href='#') Sign up
    .heading-header
      h1.heading share your holiday dream
      p.heading-text And find the perfect partner to fullfill it
      .heading-button-block
        a.heading-button(href='#') Find your holiday partner
